# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdists/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media
staticfiles/

# Virtualenv
venv/
ENV/
env/


# Env files
.env
.env.*

# Node
node_modules/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml

# Ignore compiled assets
*.pyc

# keep .dockerignore, Dockerfile etc tracked

